.NotFound {
    /* background: url('https://img.freepik.com/free-vector/404-error-page-found-with-donut_114341-54.jpg'); */
    background: url('https://images.unsplash.com/photo-1531257243018-c547a2e35767?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
} 