@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.Top {
 background: url("https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2018/12/Shakshuka-19.jpg");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 width: 100%;
 height: 50vh;
 position: relative;
}

.HomeIcon {
    color: red;
    background: #fff;
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: -32px;
    left: 30px;
    box-shadow: -1px 6px 6px 0px rgba(4,4,19,0.1);
}
.Bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55vh;
    background: #fff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.TextDiv {
    width: 80%;
    margin: 2rem auto;
}
.Heading {
    font-family: 'Lato', sans-serif;
    font-size: 2.3rem;
    margin: 1.8rem auto;
}

.social .socialLink {
    text-decoration: none;
    font-size: 1rem;
    color: #F9A694;
}

.iconText {
    padding-left: 1rem;
    color: #F9A694;
}

.mainText {
    height: calc(-70vh);
}