.Card {
    width: 120px;
    height: 130px;
    padding: 1.2rem;
    background: blanchedalmond;
    line-height: 0;
    font-size: .8rem;
    border-radius: 20px;
    margin: 2rem auto;
}


.RecipeImg {
   
    width: 100px;
    height: 100px;
    border-radius: 70%; 
    margin: auto;
    display: block;
}

.CardText {
    text-align: center;
}