.Card {
    width: 120px;
    height: 155px;
    padding: 1.2rem;
    line-height: 0;
    font-size: .8rem;
    border-radius: 20px;
    margin: .5rem auto;
}


.RecipeImg {
    width: 120px;
    height: 120px;
    border-radius: 70%;
    margin: auto;
    display: block;
}

.CardText {
    text-align: center;
}

.CardTitle {
    font-size: .75rem;
}

@media screen and (max-width: 345px) {
    .Card {
        width: 100px;
        height: 120px;
        padding: 1rem;
    }

    .RecipeImg {
        width: 85px;
        height: 85px;
    }

    .CardDes {
        font-size: .65rem;
        max-width: 100vh;
        margin: 0;
    }

    .CardTitle {
        font-size: .6rem;
    }
}