.Header {
    display: flex;
    background: #fff;
    padding: 1rem 0 1rem 1rem;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: fixed;
    bottom: 0;
}

.navLinks {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5)
}