.Header {
    display: flex;
    background: #fff;
    padding: 1rem 0 1.1rem 1rem;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: fixed;
    bottom: 0;
}

.navLinks {
    --font-size: 1.4rem;

    font-size: var(--font-size);
    color: var(--text-color);
}

.navLinks:hover {
    text-decoration: none !important;
}

.ActiveHome {
    color: var(--first-color);
}
.ActiveSearch {
    color: var(--second-color);
}
.ActiveFav {
    color: var(--third-color);
}
.ActiveDev {
    color: var(--fourth-color);
}

@media screen and (max-width: 345px) {
    .navLinks {
        --font-size: 1.2rem;
    }
}