.MainContent {
    width: calc(100% - 1.5rem);
    margin: auto;
    margin-top: 1rem;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: none;
}

#find {
    width: 90%;
    padding: 0.95rem;
    margin: auto;
    border: .3px solid black;
    border-radius: 50px;
}

#find::placeholder {
    padding: 1rem;
}

#find:focus, #find:focus-visible {
    outline: none;
}

.container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(10rem, 100%)); */
    grid-template-columns: 50% 2fr;
    margin:  2rem auto;
    margin-bottom: 4.5rem;
}


@media screen and (max-width: 345px) {
    #find, #find::placeholder {
        padding: 0.6rem;
    }
}