.ImgDiv {
    width: 95%;
    margin: auto;
}

.NFImg {
    display: block;
    width: 100%;
    margin: auto;
}

.TextOwn {
    width: 100px;
    margin: auto;
    padding: 0.4rem;
    background: var(--first-color);
    text-align: center;
}

.NotLink {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);;
}